body{
    background-color: #05e7ad;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
    
header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
}
    
.logo{
    height: 100px;
    width: 140px;
}
     
nav ul{
    list-style: none;
    padding: 15px;
    margin: 15px;
    display: flex;
    gap: 20px;
}
    
nav ul li a{
    text-decoration: underline;
    color: #2c1d6c;
    font-size: 20px;
    padding-bottom: 5px;
    display: inline-block;
}

img {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: auto;
}

h2 {
    color: #00bfa6;
    text-align: center;
}

p {
    color: #000000;
    text-align: center;
}

.container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #05e7ad;
}

.payment-area {
    width: 45%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.payment-area input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer{
    background-color: #515151;
    padding: 12px;
    color: #ffffff;
    text-align: center;
    height: 30PX;
}